<ion-header>
    <ion-toolbar>
      <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="container">
      <div class="title">
        <h1> Update Profile </h1>
      </div>
      <div class="userimage">
        <div class="img"  (click)="takePhoto()">
          <img src ='{image}' placeholder="Choose Image" width ="100px" height ="100px">
        </div>
        <!-- <div class="chooseimg" (click)="takePhoto()">
          <ion-icon name ="camera" style="font-size: 30px;"></ion-icon>
        </div>   -->
      </div>
  
      <div class="inputs">
        <ion-item>
          <ion-label><p>Name</p></ion-label>
            <ion-input type = "text" [(ngModel)] ="profile.name" placeholder ="Enter your name" style="color: rgba(19, 19, 19, 0.788);"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label><p>Surname</p></ion-label>
          <ion-input type = "text" [(ngModel)] ="profile.surname" placeholder ="Enter your surnamename" style="color: rgba(19, 19, 19, 0.788);"></ion-input>
        </ion-item>
          
         <ion-item>
            <ion-label><p>Phone</p></ion-label>
            <ion-input type = "text" [(ngModel)] ="profile.cell" placeholder ="Enter your cell number" style="color: rgba(19, 19, 19, 0.788);"></ion-input>
         </ion-item>
      
         <ion-item>
            <ion-label ><p>Bio</p></ion-label>
            <ion-textarea rows="6" cols="8" [(ngModel)] ="profile.about" placeholder="Tell us about yourself" style="color: rgba(19, 19, 19, 0.788);"></ion-textarea>
          </ion-item>

      </div>
  
      <div class="btn">
          <ion-button color="dark" (click) ="updateprofile(profile)">SUBMIT</ion-button>
      </div>
  
    </div>
  
  </ion-content>