@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Manjari');

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    // justify-content: center;
    // height: 100vh;
    width: 100%;
    font-family: 'Manjari';
    background: #313131;
}

.title {
    h1 {
        color: white;
        font-size: 6vw;
        font-weight: normal;
    }
}

.back {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}

.lock {
    width: 15vh;
    height: 15vh;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 25%;

    .icon {
        font-size: 6vw;
        color: orangered;
    }
}

.signup {
    position: absolute;
    bottom: 0;

    p {

        color: white;

        span {
            color: orangered;
        }
    }

}

.text {
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 45%;
    color: white;
}

// .item {
//     position: absolute;
//     left: 5%;

//     .input {
//         align-items: center;
//     }
// }

.form {
    position: absolute;
    top: 55%;
    width: 300px;
    text-align: center;
    align-items: center;
    .item{
        width: 300px;
    }
    button {
        background: black;
        margin-top: 10px;
        width: 300px;
        height: 50px;
    }
}

.scroll-content {
    padding-bottom: 0 !important;
}