.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.back{
    position: absolute;
    left: 10px;
    top: 10px;
}

.lock{
    width: 200px;
    height: 200px;
    .icon{
        font-size: 50px;
    }
}

.signup{
    position: absolute;
    bottom: 0;
    span{
        color: blue;
    }
}
.text{
    text-align: center;
    font-size: 15px;
}

.item{
    text-align: center;
}