@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

.container {
 height: 10%;
}

.heading {
  width: 70vw;
  height: 5vh;
  text-align: center;

  h3 {
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 5vw;
  }
}

.details {
  width: 70vw;
  height: 20vh;

  ion-item {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    ion-avatar{
      margin: 5px;
    }

    p {
      font-family: 'Poiret One';
      font-weight: bold;
    }
  }

}