@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.heading {
  width: 100vw;
  text-align: center;

  h3 {
    font-family: 'Poiret One';
    font-weight: bold;
  }
}

.details {
  width: 70vw;

  ion-item {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 10px;

    p {
      font-family: 'Poiret One';
      font-weight: bold;
    }
  }

  ion-icon {
    color: #BF6B7A;
  }
}