<ion-content>

  <div class="container">
    <div class="logo">
      <img src='../../assets//Untitled-1.jpg'>
    </div>

    <div class="title">
      <h1>REGISTER</h1>
    </div>

    <div class="inputs">
      <ion-item>
        <ion-input type="email" placeholder="Enter Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>


      <ion-item>
        <ion-input type="password" placeholder="Enter Password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>
<br>
    <div class="btn">
      <ion-button color="dark" (click)="fun(user)" id="signup">
        Sign-Up
      </ion-button>
    </div>
    <div class="signin">
      <p>Already have an account? <span (click)="signin()">Sign-In</span></p>
    </div>
  </div>
</ion-content>