<ion-content>
  <div class="container">
    <ion-slides pager="true">
      <ion-slide>
        <div class="container">
          <div class="text">
              <div class="title1">
                  <h1>AirSkedge</h1>
              </div>
              <div class="title2">
                <h1>AirSkedge</h1>
                </div>
          </div>
          
            <div class="slideno">
              <h1>First <br> Slide</h1>
              </div>
              <div class="buttz">
                <ion-button (click)="onClick()">
                Get Started
                </ion-button>
                </div>
             
        </div>

      </ion-slide>
      <ion-slide  style="background: linear-gradient(rgba(19, 18, 18, 0.637), rgb(0, 0, 0)) , url('../../assets/onboardingImage.svg'); height: 100vh; display: flex; flex-flow: column">
          <div class="logo">
              <img src="../../assets/Untitled-1.svg">
            </div>
            <h1>AirSkedge</h1>
            <div class="title">
              <br>
              <h3>No more waiting in long queues</h3><br>
              <p>Lorem ipsum dolor sit amet, quis eget
                elementum maecenas metus donec.
                Ligula velit neque mauris metus tellus, id platea.
                Lorem ipsum dolor sit amet, quis eget
               </p>
            </div>
            <br>
            <div class="btns">
              <ion-button (click)="signin()">
              Sign-In
              </ion-button>

              <ion-button (click)="register()"  style="background: rgba(49, 49, 49, 0.76)">
             Sign-Up
              </ion-button>
            </div>
      </ion-slide>
      <ion-slide  style="background: linear-gradient(rgba(19, 18, 18, 0.637), rgb(0, 0, 0)) , url('../../assets/onboardingImage.svg'); height: 100vh; display: flex; flex-flow: column">
        <div class="logo">
            <img src="../../assets/Untitled-1.svg">
          </div>
  
          <div class="title">
            <h1>AirSkedge</h1><br>
            <h3>Book on the go</h3><br>
            <p>Lorem ipsum dolor sit amet, quis eget
              elementum maecenas metus donec.
              Ligula velit neque mauris metus tellus, id platea.
              Lorem ipsum dolor sit amet, quis eget
            </p>
          </div>
          <br>
          <div class="btns">
            <ion-button (click)="signin()">
              Sign-In
            </ion-button>

            <ion-button clear (click)="register()" style="background: rgba(49, 49, 49, 0.76)">
              Sign-Up
            </ion-button>
          </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>