.content{
    width: 100%;
    height: 100%;
}

.text{
    position: absolute;
   right: -35%;
    top: -6%;
    transform: rotate(-90deg);
    .title2{
        position: relative;
        top: -140px;
        color: rgb(184, 51, 3);
    }

}

.slideno{
    position: absolute;
    top: 40%;
    h1{
        color: white;
        font-size: 13vw;
    }
}

.desc{
    color: white;
    width: 45vh;
    position: absolute;
    top: 65%;
    p{
        font-size: 4vw;
        
    }
}

.buttz{
    position: absolute;
    top: 85%;
    .button{
        width: 30vh;
        background: white;
        color: black;  
        border-radius: 30px;
    }
}











































// .content{
//     width: 100%;
//     height: 100%;
// }



// img{
//     width: 100%;

// }

// .logo{
//     width: 150px;
//     height: 150px;
//     img{
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }

// h1{
//     color: white;
//     font-size: 45px;
// }
// h3{
//     color: white;
// }

// p{
//     color: white;
//     font-size: 12px;
// }


// .slide{
//     display: flex;
//     flex-flow: column;
// }

// .btns{
//     .button{
//         width: 300px;
//         background: rgba(250, 250, 249, 0.397);
//         // border-radius: 30px;
//     }
// }
