<ion-content>
<div class="container">
    <ion-slides pager="true">
      <ion-slide  style="background: rgb(36, 36, 36); height: 100vh; display: flex; flex-flow: column">
       
          <div class="text">
            <div class="title1">
              <h1 style="color:rgba(207, 204, 204, 0.205); font-size: 20vh; font-weight: bold">AirSkedge</h1>
            </div>
            <div class="title2">
              <h1 style="font-size: 15vh; font-weight: bold">AirSkedge</h1>
            </div>
          </div>

          <!-- <ion-button (click)="signin()">
            Sign-In
          </ion-button> -->

          <div class="slideno">
            <h1>First <br> Slide</h1>
          </div>

          <div class="desc">
              <p>Lorem ipsum dolor sit amet, quis eget
                  elementum maecenas metus donec.
                  Ligula velit neque mauris metus tellus, id platea.
                  Lorem ipsum dolor sit amet, quis eget
                </p>
          </div>
          <div class="buttz">
            <ion-button (click)="signin()">
              Get Started
            </ion-button>
          </div>
      </ion-slide>

      <ion-slide
        style="background: linear-gradient(rgba(19, 18, 18, 0.637), rgb(0, 0, 0)) , url('../../assets/onboardingImage.svg'); height: 100vh; display: flex; flex-flow: column"style="background: rgb(36, 36, 36); height: 100vh; display: flex; flex-flow: column">
        <!-- <div class="logo">
          <img src="../../assets/Untitled-1.svg">
        </div>
        <h1>AirSkedge</h1>
        <div class="title">
          <br>
          <h3>No more waiting in long queues</h3><br>
          <p>Lorem ipsum dolor sit amet, quis eget
            elementum maecenas metus donec.
            Ligula velit neque mauris metus tellus, id platea.
            Lorem ipsum dolor sit amet, quis eget
          </p>
        </div>
        <br>
        <div class="btns">
          <ion-button (click)="signin()">
            Sign-In
          </ion-button>

          <ion-button (click)="register()" style="background: rgba(49, 49, 49, 0.76)">
            Sign-Up
          </ion-button> -->
       <div class="text">
            <div class="title1">
              <h1 style="color:rgba(207, 204, 204, 0.205); font-size: 20vh; font-weight: bold">AirSkedge</h1>
            </div>
            <div class="title2">
              <h1 style="font-size: 15vh; font-weight: bold">AirSkedge</h1>
            </div>
          </div>

          <!-- <ion-button (click)="signin()">
            Sign-In
          </ion-button> -->

          <div class="slideno">
            <h1>Second <br> Slide</h1>
          </div>

          <div class="desc">
              <p>Lorem ipsum dolor sit amet, quis eget
                  elementum maecenas metus donec.
                  Ligula velit neque mauris metus tellus, id platea.
                  Lorem ipsum dolor sit amet, quis eget
                </p>
          </div>
          <div class="buttz">
            <ion-button (click)="signin()">
              Get Started
            </ion-button>
          </div>
      
      </ion-slide>
      
      <ion-slide
      style="background: linear-gradient(rgba(19, 18, 18, 0.637), rgb(0, 0, 0)) , url('../../assets/onboardingImage.svg'); height: 100vh; display: flex; flex-flow: column"style="background: rgb(36, 36, 36); height: 100vh; display: flex; flex-flow: column">
        <div class="text">
            <div class="title1">
              <h1 style="color:rgba(207, 204, 204, 0.205); font-size: 20vh; font-weight: bold">AirSkedge</h1>
            </div>
            <div class="title2">
              <h1 style="font-size: 15vh; font-weight: bold">AirSkedge</h1>
            </div>
          </div>

          <!-- <ion-button (click)="signin()">
            Sign-In
          </ion-button> -->

          <div class="slideno">
            <h1>Third <br> Slide</h1>
          </div>

          <div class="desc">
              <p>Lorem ipsum dolor sit amet, quis eget
                  elementum maecenas metus donec.
                  Ligula velit neque mauris metus tellus, id platea.
                  Lorem ipsum dolor sit amet, quis eget
                </p>
          </div>
          <div class="buttz">
            <ion-button (click)="signin()">
              Get Started
            </ion-button>
          </div>
      
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>