<ion-content>
  <div class="container">
    <div class="skip" (click)="signin()">
      <p style="color: white; font-family: 'Raleway'; padding: 20px; float: right">SKIP</p>
    </div>
    <div class="group">
      <div class="air">
        <h1>AIRSKEDGE</h1>
      </div>
      <div class="skedge">
        <p>AIRSKEDGE</p>
      </div>
    </div>

    <ion-slides pager="true">
      <ion-slide>
     
        <div class="data">
          <div class="title">
            <h1>Find <br> Salons</h1>
          </div>
          <br>
          <div class="desc">
            <p>Lorem ipsum dolor sit amet, at felis morbi,
              mauris semper ut et, tristique felis quis vitae sollicitudin,
              velit tellus leo.</p>
          </div>
          <br>
          <div class="btnz">
            <ion-button large (click)="signin()" color="transparent">
              Next
            </ion-button>
          </div>
          <br><br>
        </div>

      </ion-slide>
      <div class="data" style=" position: relative; left: 10vw">
        <div class="title">
          <h1 style="text-align: center">View <br> Hairstyles </h1>
        </div>
        <br>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet, at felis morbi,
            mauris semper ut et, tristique felis quis vitae sollicitudin,
            velit tellus leo.</p>
        </div>
        <br><br>
        <div class="btnz">
          <ion-button large (click)="signin()" color="transparent">
            Next
          </ion-button>
        </div>
        <br><br>
      </div>
      <ion-slide>


      </ion-slide>
      <br><br>
      <ion-slide>

        <div class="data" style=" position: relative; right: 75vw">
          <div class="title">
            <h1>Make <br> Booking</h1>
          </div>
          <br>
          <div class="desc">
            <p>Lorem ipsum dolor sit amet, at felis morbi,
              mauris semper ut et, tristique felis quis vitae sollicitudin,
              velit tellus leo.</p>
          </div>
          <br>
          <div class="btnz" style="position: relative; bottom: 15%">
            <ion-button large (click)="signin()" color="transparent">
              SignUp
            </ion-button>
            <br><br>
            <ion-button large (click)="signin()" color="transparent" style="position: relative; bottom: 15px;">
              Sign-In
            </ion-button>
          </div>
          <br><br>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>