@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

.container {
    background-image: linear-gradient(30deg, #BF967E 50%, #343A3F 40%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

ion-slides {
    width: 100vw;
    height: 100vh;
}

.msg {
    h1 {
        font-family: 'Poiret One';
        font-size: 5vw;
    }
}

.group {
    position: absolute;
    left: -41vh;
    top: 36%;
    transform: rotate(-90deg);
    color: white;

    .air {
        width: 100vh;

        h1 {
            font-size: 30vw;
            font-family: 'Poiret One';
            font-weight: lighter;
            opacity: 0.09;
            letter-spacing: 3.5vw;
            // width: 100%;
            // object-fit: cover;
        }

    }

    .skedge {
        position: relative;
        top: -15vh;
        left: 5vw;

        p {
            font-family: 'Poiret One';
            font-size: 10vw;
            font-weight: bold;
            height: 20px;
            letter-spacing: 1.5vw;
        }
    }
}

.data {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    width: 100vw;
    // height: 100vh;

    .title {
        position: relative;
        top: 15%;

        h1 {
            font-family: 'Poiret one';
            font-size: 15vw;
            color: white;
        }
    }

    .desc {
        width: 35vh;
        position: relative;
        top: 20%;

        p {
            font-family: 'Montserrat';
            font-weight: lighter;
            color: white;
            font-size: 4vw;
            text-align: center;
        }
    }

    .btnz {
        position: relative;
        top: 25%;
        overflow: hidden;

        ion-button {
            width: 34vw;
            background: #343A3F;
            border-radius: 7px;
            font-family: 'Poiret one';
        }
    }
}











































// .content{
//     width: 100%;
//     height: 100%;
// }



// img{
//     width: 100%;

// }

// .logo{
//     width: 150px;
//     height: 150px;
//     img{
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }

// h1{
//     color: white;
//     font-size: 45px;
// }
// h3{
//     color: white;
// }

// p{
//     color: white;
//     font-size: 12px;
// }


// .slide{
//     display: flex;
//     flex-flow: column;
// }

// .btns{
//     .button{
//         width: 300px;
//         background: rgba(250, 250, 249, 0.397);
//         // border-radius: 30px;
//     }
// }