<ion-header>
  <ion-toolbar color="dark">
    <ion-icon name="arrow-round-back" style="font-size: 30px" (click)="back()"></ion-icon>

  </ion-toolbar>
  <ion-title>{{viewTitle}}</ion-title>

</ion-header>

<ion-content class="has-header">
<button  (click)="changeMode('month')">MONTH</button>&nbsp;&nbsp;
<button (click)="changeMode('week')">WEEK</button>&nbsp;&nbsp;
<button (click)="changeMode('day')">DAY</button>

        <calendar style ="color:rgb(0, 0, 0);background-color:black;border-color:firebrick"   [eventSource]="eventSource" [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
         step="30" startHour="8" endHour="19" [markDisabled]="markDisabled" >
       
        </calendar>
  
        
        <ion-fab  vertical="bottom" horizontal="end">
          <ion-fab-button  (click) ="datespage()">Continue</ion-fab-button>
        </ion-fab>
      <!-- <div class="hairstyle">

        <div class="prc">
          <label>Price: {{booking.hairstyleprice | currency:'&#82;'}} </label>
        </div>

        <div class="info">
          <label>Hairstyle:{{booking.hairstyletype}}</label>
          <label>Duration: {{booking.estimatedtime}} mins</label>
        </div>

      </div> -->

<!-- <div class="cal" class="has-subheader">
  <h3>{{viewTitle}}</h3>
  <ion-buttons>
        <button ion-button [disabled]="isToday" (click)="today()">Today</button>
        <button ion-button (click)="changeMode('month')">M</button>
      </ion-buttons>
      <calendar   [eventSource]="eventSource" [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event,booking)" step="30">
      </calendar>
</div> -->
      


   
   

</ion-content>