<ion-header>
  <ion-toolbar>
    <ion-title>bookwithsalon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="name"></ion-input>
</ion-item>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="surname"></ion-input>
</ion-item>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="cell"></ion-input>
</ion-item>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="hairstyle type"></ion-input>
</ion-item>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="estimated time for hairstyle"></ion-input>
</ion-item>
<ion-item>
  <ion-label></ion-label>
  <ion-input placeholder="session time"></ion-input>
</ion-item>
</ion-content>
