<ion-header>
  <ion-toolbar >
    <ion-icon color="dark" name="arrow-round-back" style="font-size: 30px" (click)="back()"></ion-icon>

  </ion-toolbar>
  <ion-title></ion-title>

</ion-header>

<ion-content class="has-header">


<h1 align ="center" style ="font-family:cocomat;position: absolute;top:0">{{viewTitle}}</h1>
<pre>



</pre >
<div align ="center">
<button class ="buttonz" (click)="changeMode('day')" [style.background] ="daycolor">DAY</button>&nbsp;&nbsp;
<button  class ="buttonz" (click)="changeMode('week')" [style.background] ="weekcolor">WEEK</button>&nbsp;&nbsp;
<button class ="buttonz"  (click)="changeMode('month')" [style.background] ="monthcolor">MONTH</button>
</div>
<pre>

</pre>

        <calendar style ="color:rgb(0, 0, 0);background-color:black;border-color:firebrick"   [eventSource]="eventSource" [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
         step="30" startHour="8" endHour="19" [markDisabled]="markDisabled" 
         (onTimeSelected)="onTimeSelected($event)" (click) ="timeAlertConfirm()"
         [markDisabled]="markDisabled"
         [timeInterval]="timeinterval"
         >
       
        </calendar>
  
    
      <div class="flex-container" >
      
       
         
            
            <pre>

            </pre>
            <div style ="width:100vh;height:100px;background: linear-gradient(rgba(179, 125, 93, 0.342),rgba(179, 125, 93, 0.384),rgba(179, 125, 93, 0.363));position:fixed" [hidden] ="isvalidated" align ="center">
                <div align ="right" style ="width:30px"><button  style ="background:transparent;background-color:transparent;" width ="10px" (click)="closebutton()"><ion-icon name ="close" style ="color:black" ></ion-icon></button></div>
            <br>
              <button   [style.background] ="pink"   style="width: 300px; width: 27%;
              height: 40px;color:white;border-radius: 100px;background-color:rgb(179, 125, 93);" (click) ="submit()"  >Book Now!</button>
          </div>
           
         
        
     
    
  
   
       
        </div> 
     

</ion-content>