<ion-content>

  <ion-card class="Card"  *ngFor="let x of salond" (click)="selectsalon(x)">
      <ion-card-header>
          <div class="image">
              <img src="{{x.salonImage}}">
            </div>
      </ion-card-header>
    
      <ion-card-content class="CCad">
          <div class="details">
              <div class="subtitle">
                <p>{{x.salonName}} <br> 
                  {{x.streetName}}
                </p>
              </div>
      
            </div>
      </ion-card-content>
    </ion-card>

  <input id="pac-input" class="controls" type="text" placeholder="Search Location">
  <div #map id="map"></div>
  <br><br><br>
  <div class="salonlist">

    <ion-slides [options]="sliderConfig" (ionSlideDidChange)="moveMapEvent($event)">
      <ion-slide class="magic" *ngFor="let b of salons" (click)="selectsalon(b)">
        <div class="card">
          <div class="top">
            <div class="image">
            
              <img src="{{b.salonImage}}" alt="tough">
            
            </div>
            <div class="title">
              <p class="stars" style="color: rgb(185, 184, 184); font-size: 5vw; font-family: Manjari">{{b.Address.streetName}} </p>
              <p class="stars" style="color: rgb(185, 184, 184); font-size: 4vw; font-family: Manjari"><strong>{{b.salonName}}</strong> &nbsp;&nbsp; &nbsp;&nbsp;
            </div>
          </div>
          <hr style="border-color: rgb(255, 3, 3)">
          <div class="bottom">
           
          </div>
          <div class="blur">

          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>