@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Manjari| Mansalva');

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.salonlist {
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    position: absolute;
    bottom: 0;

    .magic {
        width: 90vh;
        height: 30vh;
    }

    .card {
        width: 85vw;
        height: 100px;
        display: flex;
        flex-flow: column;
        margin: 5px;
        background: rgba(8, 8, 8, 0.719);
        position: relative;
        overflow: hidden;

        .top {
            display: flex;
            flex-flow: row;
            justify-items: baseline;

            .image {
                width: 100px;
                height: 90px;
                margin: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .title {
                margin: 25px;
                float: left;
            }

        }

    }
}

#pac-input {
    width: 95vw;
    height: 40px;
    margin: 10px;
    background: rgba(94, 94, 94, 0.582);
    box-shadow: 5px 5px 10px grey;
    font-size: 3.5vw;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 7px;

}

p {
    color: rgb(255, 255, 255);
    font-size: 5vw;
    margin: 0;
}

.scroll-content {
    padding-bottom: 0 !important;
}

// .title{
//     font-size: 5vw;
//     text-align: center;
//     justify-content: center;
//     color: black;
// }
// .btn1{
//     background: rgba(241, 160, 9, 0.829);
//     border-radius: 50px;
//     float: right;
//     .button-inner{
//         width: 50%;
//         align-items: center;
//         justify-content: center;
//     }
// }
// .geo{
//     float: right;

// }

// .btn2{
//     background: rgba(49, 45, 36, 0.829);
//     border-radius: 30px;
//     font-size: 30px;
//     // float: left;
// }


// .location{
//     font-size: 10vw;
//     color: rgba(241, 160, 9, 0.829);
//     margin: 0;
// }