<ion-content>
  <input id="pac-input" class="controls" type="text" placeholder="Search Location">
  <div #map id="map"></div>
  <br><br><br>
  <div class="salonlist">

    <ion-slides [options]="sliderConfig" (ionSlideDidChange)="moveMapEvent($event)">
      <ion-slide class="magic" *ngFor="let b of salons" (click)="selectsalon(b)">
        <div class="card">
          <div class="top">
            <div class="image">
             
              <img src="{{b.salonImage}}" alt="tough">
             
            </div>
            <div class="title">
              <p class="stars" style="font-size: 5vw; color: #FFB082; font-family: Manjari"><strong>{{b.salonName}}</strong></p>
              <p class="stars" style="color: rgb(185, 184, 184); font-size: 4vw; font-family: Manjari">{{b.Address.streetName}}</p>
            </div>
          </div>
          <hr style="border-color: rgb(255, 3, 3)">
       
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>