<ion-content>
 
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
      <div class="maploader">
      
      </div>
      <div class="loading-text">
        <p>Loading Map</p>
      </div>
    </div>
    <button (click)="requestPrompt()" ion-fab mini><ion-icon name="locate"></ion-icon></button>
  <input id="pac-input" class="controls" type="text" placeholder="Search Location">
  <ion-item>
    <ion-label>Search by salon name</ion-label>
    <ionic-selectable
    item-content
      [(ngModel)]="port"
      [items]="ports"
  
      itemTextField="names"
      [canSearch]="true"
     searchFailText = "Nothing Found :("
      (onChange)="portChange($event)">
    </ionic-selectable>
  </ion-item>
  <div #map id="map"></div>
  <br><br><br>
  <div class="salonlist">
    <ion-slides [options]="sliderConfig" #sliderRef (ionSlideDidChange)="moveMapEvent($event)">
      <ion-slide class="magic" *ngFor="let b of salons; let i = index" (click)="selectsalon(b)">
        <div class="card">
          
          <div class="top">
            <div class="image">
             
              <img src="{{b.salonImage}}" alt="tough">
              <div  [ngClass]="{'distance-active': cardIndex, 'distance-inactive': !cardIndex}" (click)="showDistance()">
                  <div class="data">
                      <ion-icon name="hourglass"></ion-icon><p>{{duration}}</p><ion-icon name="compass"></ion-icon><p>{{distance}} km</p>
                  </div>
                </div>
            </div>
            <div class="title">
              <p class="stars" style="font-size: 4vw; color: #FFB082; font-family: Poiret One;
              letter-spacing: 4px;"><strong>{{b.salonName}}</strong></p>
              <p class="stars" style="color: rgb(185, 184, 184); font-size: 3vw; font-family: Raleway" >{{b.Address.streetName}}</p>
            </div>
          </div>
          
        </div>
       
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>