<ion-header>
  <ion-toolbar>
    <ion-title style=" margin-left: 6px; float: left; color: white; font-family: 'Poiret One'; letter-spacing: 5px;">AIRSKEDGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">

    <div class="maploader">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
    <div class="loading-text">
      <p>Loading Map</p>
    </div>
  </div> -->
  
  <div class=" login">
    <div class="image">
      <img src="../../assets/braidchick.svg">
    </div>

    <div class="form">

      <div class="msg">
        <h1 style="font-family: Poiret One; font-size: 6vw; font-weight: bold; letter-spacing: 5px">WELCOME</h1>
        <p style="font-family: Poiret One; font-size: 3vw ; font-weight: bold;">Sign into your account to continue</p>
      </div>
      <form [formGroup]="loginForm">

        <ion-item>

          <ion-input formControlName="email" type="email" placeholder="Your email address" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" [class.invalid]="!loginForm.controls['email'].valid &&
                             loginForm.controls['email'].touched" style="font-family: 'Poiret One'">
          </ion-input>
        </ion-item>
        <ion-label class="error-message" *ngIf="!loginForm.controls['email'].valid &&
                                         loginForm.controls['email'].touched"
          style="color:red; font-size: 15px; font-family: Poiret One;">Please enter a valid email address.</ion-label>


        <ion-item>

          <ion-input id="pass" formControlName="password" type="password" placeholder="Your password" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')"
            [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
            style="font-family: Poiret One">
          </ion-input>
        </ion-item>
        <ion-label class="error-message" *ngIf="!loginForm.controls['password'].valid
                                          && loginForm.controls['password'].touched"
          style="color:red; font-size: 15px; font-family: Poiret One;">Your password needs more than 6 characters.
        </ion-label>
        <br>
        <p (click)="reset()" id="reset" style="float: right; font-weight: bold; font-family: Poiret One; margin: 5px;"> Forgot
          Password? </p>
        <br><br>
        <div class="btn" *ngIf="!hide">
          <button ion-button (click)="loginUser(loginForm)" [disabled]="!loginForm.valid"
            style="height: 10vw; width: 10vw; font-size: 4vw; font-family: Poiret One; font-weight: bold;border-radius: 5px ;background: #BF6B7A; color: white; width: 25vh">
            Sign-In
          </button>
          <br>
          <button ion-button (click)="login()" clear style="height: 6vh; font-size: 4vw; background: transparent; 
                color: black; font-family: Poiret One; font-weight: bold;">
            Sign-Up
          </button>

        </div>
      </form>
    </div>
  </div>



</ion-content>