@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

ion-toolbar {
  --background: white;
  --opacity: 0;
  position: absolute;
  
}  
.form{
  position: absolute;
  z-index: 5;
  background: white;
  bottom:0;
  width: 100%;
  overflow-y: auto;
  height: 55vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding-bottom: 0 !important;

}
 
.login{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .image{
    
      width: 100%;
      height: 100%;
      object-fit: cover;
      img{
           
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
  }
}

.item{
  width: 90vw;
  margin: 10px;
}

.btn{
  align-items: center;
}






.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background:rgb(22, 13, 0);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;

  .maploader {
    // overflow: hidden;
    width: 70px;
    height: 50px;
    margin: 40vh auto;
    text-align: center;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: maploader 1.2s linear infinite;
    border-radius: 200px;
    display: grid;
    align-content: center;
    position: relative;
    border: solid 2px gray;
    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-facebook div {
      border-radius: 200px;
      display: inline-block;
      position: absolute;
      left: 6px;
      right: 6px;
      width: 13px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 6px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 26px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 45px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 6px;
        height: 51px;
      }
      50%, 100% {
        top: 19px;
        height: 26px;
      }
    }
    

  }
}

.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  z-index: 50;
}

.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    // overflow: hidden;
    width: 70px;
    height: 50px;
    margin: 40vh auto;
    text-align: center;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: maploader 1.2s linear infinite;
    border-radius: 200px;
    display: grid;
    align-content: center;
    position: relative;
    border: solid 2px gray;
    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-facebook div {
      border-radius: 200px;
      display: inline-block;
      position: absolute;
      left: 6px;
      right: 6px;
      width: 13px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 6px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 26px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 45px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 6px;
        height: 51px;
      }
      50%, 100% {
        top: 19px;
        height: 26px;
      }
    }
    

  }
}

@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }

  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }

  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}




















// * {
//   padding: 0;
//   margin: 0;
// }

// .container {
//   background: url('../../assets/background.svg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   flex-flow: column;
//   align-items: center;
//   padding-bottom: 0 !important;
// }

// ion-grid {

//   text-align: center;
//   padding-bottom: 0 !important;
//   width: 100%;
//   //  height: 100vh;
//   margin-top: 50px;
// }

// .logo {
//   width: 120px;
//   height: 120px;
//   align-items: center;
//   position: relative;
// }

// .signin {
//   color: white;

//   h3 {
//     font-size: 5vw;
//   }
// }

// // .content{
// //   .scroll-content {
// //     padding-bottom: 0 !important;
// //  }
// // }

// form {
//   width: 300px;

//   .item {
//     .item {
//       position: relative;
//       top: 30px;
//       text-align: center;
//       background: transparent;
//       color: white;
//     }
//   }

//   button {
//     width: 300px;
//     height: 50px;
//     ;
//   }
// }

// .forgot1 {
//   color: white;
// }

// .btns {
//   position: relative;
//   bottom: 5%;
//   left: 2%;

//   p {
//     color: white;

//     span {
//       color: black;
//     }
//   }

//   .grid{

//   .scroll-content {
//     padding-bottom: 0 !important;
//  }
//   }

//   .scroll-content {
//     padding-bottom: 0 !important;
//  }
// }




// .container {

//   .cover {
//     display: flex;
//     flex-flow: column;
//     font-family: 'Manjari';
//     align-items: center;
//     color: white;
//     background: url('../../assets/background.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     width: 100%;
//     height: 100vh;
//     position: relative;
//   }

// }

// .logo {
//   position: absolute;
//   top: 5%;
//   width: 35%;
//   height: 50%;
//   // opacity: 0.10;
// }

// .back {
//   position: absolute;
//   left: 10px;
//   top: 10px;
// }

// .signin {
//   position: absolute;
//   top: 30%;
//   text-align: center;
//   // opacity: 0.6;
//   padding: 10px;

//   h1 {
//     font-size: 3vw;

//     span {
//       font-size: 2vw;
//     }
//   }
// }


// .form {
//   position: absolute;
//   top: 40%;
//   align-items: center;
//   text-align: center;
//   width: 300px;

//   .item {
//     position: relative;
//     top: 30px;
//     // left: 9%;
//     // width: 40vh;
//     text-align: center;
//     // border-radius: 50px;
//     background: transparent;
//     color: white;

//   }

//   button {
//     width: 300px;
//     // height: 50px;
//   }


//   .btns {
//     position: absolute;
//     display: flex;
//     flex-flow: row;
//     justify-content: space-evenly;

//     p {
//       span {
//         color: black;
//       }
//     }
//   }

//   // .forgot1{
//   //   position: absolute;
//   //   bottom: 10px;
//   // }

// }