<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">

    <!-- <div class="back">
      <ion-icon name="arrow-back" style="font-size: 30px"></ion-icon>
    </div>
    <div class="logo">
      <h1>Welcome <br> <span>Sign-In to continue</span></h1>

    </div>
    <br>
    <div class="form">
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls['email'].valid &&
             loginForm.controls['email'].touched">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid &&
              loginForm.controls['email'].touched">
          <ion-label id="validate">Please enter a valid email address.</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Your password"
            [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid
             && loginForm.controls['password'].touched" id="error">
          <ion-label id="validate">Your password needs more than 6 characters.</ion-label>
        </ion-item>

        <ion-button (click)="loginUser(loginForm)" expand="block" color="dark" [disabled]="!loginForm.valid">
          Log In
        </ion-button>
        <p routerLink="/reset-password">Forgot Password? </p>
      </form>
  
    </div>

    <div class="signup">
      <p>Don't Have An Account <span routerLink="/signup">Sign-Up</span></p>
    </div> -->

    <div class="left">
      <div class="img">
        <img src="../../assets/Asset 1.svg">
      </div>
      <div class="text">
        <h1>Sign-In</h1>
      </div>
    </div>

    <div class="middle">
      <div class="img">
        <img src="../../assets/Asset 2.svg">
      </div>

      <div class="signup">
        <p routerLink="/signup">Sign-Up</p>
      </div>

      <div class="form">

        <div class="npts">
          <form [formGroup]="loginForm">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls['email'].valid &&
                       loginForm.controls['email'].touched">
              </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid &&
                        loginForm.controls['email'].touched">
              <ion-label id="validate" style="color:red; font-size: 16px">Please enter a valid email address.</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" type="password" placeholder="Your password"
                [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched">
              </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid
                       && loginForm.controls['password'].touched" id="error">
              <ion-label id="validate" style="color:red; font-size: 16px">Your password needs more than 6 characters.</ion-label>
            </ion-item>

            <p routerLink="/reset-password" style="font-size: 13px; float: right">Forgot Password? </p>
            <div class="btn">

              <ion-fab-button style="background: purple; border-radius: 50%" (click)="loginUser(loginForm)">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-fab-button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="img">
        <img src="../../assets/Asset 3.svg">
      </div>
      <div class="icons">
        <p>Or Sign-In With:</p>
        <div class="fabz">
        
            <ion-icon name="logo-google" style="font-size: 30px;"></ion-icon>

            <ion-icon name="logo-facebook" style="font-size: 30px;"></ion-icon>

        </div>

      </div>

    </div>

  </div>
</ion-content>