<!-- <ion-header>
    <ion-toolbar color="dark">
      <ion-icon name="arrow-round-back" style="font-size: 200%; color: white; margin: 10px;" (click)="back()">
      </ion-icon>
      <ion-icon name="exit" (click)="signout()" style="font-size: 20px; color: white; float: right; margin: 10px">
      </ion-icon>
    </ion-toolbar>
  </ion-header> -->

  <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-button style="color: white">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
        
      </ion-buttons>
    
      <ion-buttons slot="primary">
        <ion-button style="color: white">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
<ion-content fullscreen>

  <body *ngFor="let profile of profiles">

    <img src="{{profile.image}}">
    <div class="flex-container">
      <div style="width:100vw;padding-left:0px">

        <div class="info-open" [ngClass]="{'bookings-inactive': !seeBookings, 'bookings-active': seeBookings}">
          <div class="edit">
            <ion-icon name="create" (click)="update()"></ion-icon>
          </div>
          <p id="name" style="color: black; font-family: Poiret One;">{{profile.name}} {{profile.surname}}</p>
          <br>
          <p id="cell" style="color: black">0815253696</p>
          <br>
          <div class="line"></div>
          <div class="bookings">
            <ion-button *ngIf="!seeBookings" (click)=" bookings()" color="transparent" style=" color: white;">
              VIEW BOOKINGS
            </ion-button>
            <ion-button *ngIf="seeBookings" (click)=" bookings()" color="transparent" style=" color: white;">
                CLOSE BOOKINGS
              </ion-button>
          </div>
          <div class="cards">
            <div class="card"  *ngFor="let x of userbooking" (click)="viewdetails(x)" [style.background-image]="'url('+x.hairstyleimage+')'">
              <div class="style">
                <p>{{x.hairstyletype}}</p>
              </div>
                <div class="details">
                  <div>
                      <h4>{{x.salonname}}</h4>
                      <p style="color: green">Stylist: {{x.hairdresser}}</p>

                      <p *ngIf="x.status.localeCompare('Active')  " style="color: green">Booking Active</p>
                      <p *ngIf="x.status.localeCompare('cancelled') " style="color: red">Booking Cancelled</p>
                  </div>
                </div>
                <div class="date" displayFormat="MM DD YY" ><p>{{x.userdate}}</p></div>
            </div>
       
          </div>
        </div>




      </div>
    </div>
  </body>
  <!-- {{profile.cell}} -->
</ion-content>












































<!-- <ion-item *ngFor ="let profile of profiles">
    <ion-thumbnail item-start>
        <img src ="{{profile.image}}">
      </ion-thumbnail>
<pre>
  
{{profile.name}}
{{profile.surname}}
{{profile.cell}}
{{profile.bio}}
</pre> -->