<ion-content>

  <div class="container" *ngFor="let profile of profiles">
    <div class="img">
      <img src="{{profile.image}}">
    </div>

    <div class="">
      <p>{{profile.name}}</p>
      <p>{{profile.surname}}</p>
      <p>{{profile.cell}}</p>
      <p>{{profile.about}}</p>
    </div>
    <ion-button (click)="update()">Edit <ion-icon name ="create"></ion-icon></ion-button>
  </div>




</ion-content>















































<!-- <ion-item *ngFor ="let profile of profiles">
    <ion-thumbnail item-start>
        <img src ="{{profile.image}}">
      </ion-thumbnail>
<pre>
  
{{profile.name}}
{{profile.surname}}
{{profile.cell}}
{{profile.bio}}
</pre> -->