@import url('https://fonts.googleapis.com/css?family=Lato%7CTeko%7CAbel%7CAnton%7CDosis%7COxygen%7CJura%7CPacifico%7CRighteous%7CRoboto+Condensed%7CUbuntu%7CMansalva');
.header {
    border: none;
    // box-shadow: none;
    // position: absolute;
    // top: 5%;

    .toolbar-background {
        background: transparent;
        border: none;
    }
}

.content {
    width: 100%;
    height: 100%;
}

// .container {
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
//     height: 100%;
//     // align-items: center;
// }

.icons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    z-index: 3;

    .exit {
        position: absolute;
        left: 290px;
    }
}

// }

// // .searchbar {
// //     width: 70vh;
// //     height: 20vh;
// // }

// .img {
//     width:20vh;
//     height: 20vh;
// }

img {
    width: 100%;
    height: 100%;
    object-fit: cover
}


.info {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    // left: 20%;
    z-index: 5;
    background: linear-gradient(rgba(255, 255, 255, 0.301), white);

    width: 50vh;
    height: 30vh;

    #name {
        font-size: 8vw;
        position: relative;
        top: -5px;
        font-family: sans-serif;
        text-align: left;
        padding: 10px;
    }

    #about {
        position: relative;
        top: 10px;
        text-align: left;
        padding: 10px;
    }

    #cell {
        position: relative;
        bottom: 50px;
        font-family: sans-serif;
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
}

.edit {
    position: absolute;
    bottom: 10px;
    left: 25%;
    z-index: 8;
    width: 200px;
    height: 80px;

    ion-fab-button {
        margin: 2px;
    }
}

body {
    position: absolute;
    top: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    justify-content: center;
    font-family: sans-serif;
}

.flex-container>div {
    font-family: sans-serif;
    width: auto;
    text-align: center;
    // background: linear-gradient(rgba(236, 240, 241, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    height: 300px;
}