<ion-toolbar color="transparent">
  <ion-buttons slot="start">
    <ion-button style="color: white" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>

  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button style="color: white" (click)="signout()">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content fullscreen>

  <body *ngFor="let profile of profiles">

    <img  *ngIf="!profile.image" src="../../assets/icon/user.svg" height="100%" width="100%">

  
    <img *ngIf="profile.image" src="{{profile.image}}">
    <div class="flex-container">
      <div style="width:100vw;padding-left:0px">

        <div class="info-open"  [ngClass]="{'bookings-inactive': !seeBookings, 'bookings-active': seeBookings}">
          <div class="edit">
            <ion-icon name="create" (click)="update()"></ion-icon>
          </div>
          <p id="name" style="color: black; font-family: Poiret One;">{{profile.name}} {{profile.surname}}</p>
          <br>
          <p id="cell" style="color: black">{{profile.cell}}</p>
          <br><br>
          <div class="line"></div>
          <br>
          <div class="bookings">
            <ion-button *ngIf="!seeBookings" (click)=" bookings()" color="transparent" style=" color: white;">
              VIEW BOOKINGS
            </ion-button>
            <ion-button *ngIf="seeBookings" (click)=" bookings()" color="transparent" style=" color: white;">
              CLOSE BOOKINGS
            </ion-button>
          </div>
        
          <div class="cards">
              <div class="isbooking" *ngIf="!isBooking">
                  <p> YOU DO NOT HAVE <br>
                    A BOOKING HISTORY YET
                  </p>
                </div>
            <div class="card" *ngFor="let x of userbooking" (click)="viewdetails(x)"
              [style.background]="'url('+x.hairstyleimage+')'">
              <div class="skew">
                <div class="details">

                  <div>
                    <h4>{{x.salonname}}</h4>
                    <p style="color: green">Stylist: {{x.hairdresser}}</p>

                    <!-- <p *ngIf="x.status.localeCompare('Active')  " style="color: green">Booking Active</p>
                    <p *ngIf="x.status.localeCompare('cancelled') " style="color: red">Booking Cancelled</p> -->
                  </div>
                </div>

                <div class="style">
                  <p>{{x.hairstyletype}}</p>
                </div>

                <div class="date" displayFormat="MM DD YY">
                  <p>{{x.userdate}}</p>
                </div>
              </div>

            </div>

          </div>
        </div>




      </div>
    </div>
  </body>

</ion-content>