@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

ion-toolbar {
    --background: white;
    position: absolute;
}

*{
    transition: 0.7s;
}
.content {
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    z-index: 3;

    .exit {
        position: absolute;
        left: 290px;
    }
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover
}


.info {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    // left: 20%;
    z-index: 5;
    background: white;
    width: 100%;
    height: 20vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    #name {
        font-size: 8vw;
        position: relative;
        top: 5px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }



    #cell {
        position: relative;
        bottom: 20px;
        font-family: 'Poiret One';
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }

    .line {
        position: absolute;
        z-index: 5;
        top: 45%;
        width: 90vw;
        left: 5%;
        right: 5%;
        height: 2px;
        background: grey;
        text-align: center;


    }

    .edit {
        position: absolute;
        top: 8%;
        left: 90vw;

        ion-icon {
            font-size: 8vw;
        }
    }
}

.bookings-inactive {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    // left: 20%;
    z-index: 5;
    background: white;

    box-shadow: 5px 5px 10px lightgray;
    width: 100%;
    // height: 25vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    #name {
        font-size: 8vw;
        position: relative;
        top: 5px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }



    #cell {
        position: relative;
        bottom: 20px;
        font-family: 'Poiret One';
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }

    .line {
        position: absolute;
        z-index: 5;
        top: 45%;
        width: 90vw;
        left: 5%;
        right: 5%;
        height: 2px;
        background: grey;
        text-align: center;


    }

    .edit {
        position: absolute;
        top: 8%;
        left: 90vw;

        ion-icon {
            font-size: 8vw;
        }
    }

    .cards {
        width: 100%;
        height: 100%;
        overflow-x: auto;
        display: flex;
        opacity: 0;

        // background: red;
        .card {
            min-width: 80%;
            height: 90%;
            margin: 10px 5px;
            background-image: linear-gradient(-50deg, rgba(54, 54, 54, 0) 50%, rgb(39, 38, 38) 40%), url('../../assets/danai.jpg');
            background-repeat: no-repeat;
            background-position: inherit;
            background-size: cover;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            // .skew{
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            //      background-image: linear-gradient(-50deg, rgba(54, 54, 54, 0) 50%, rgb(39, 38, 38) 40%), url('../../assets/danai.jpg');
            // }

            .style {
                position: absolute;
                top: 0;
                right: 5px;

                p {
                    text-transform: uppercase;
                    opacity: 0.5;
                    font-size: 6vw;
                    letter-spacing: 5px;
                    color: white;
                    font-family: 'Poiret One';
                }
            }

            .details {
                display: grid;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 5px;

                div {
                    h4 {
                        font-size: 6vw;
                        margin: 0px;
                        color: white;
                        font-family: 'Poiret One';
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 4vw;
                        margin: 0px;
                        color: white;
                        font-family: 'Raleway';
                    }
                }
            }

            .date {
                position: absolute;
                bottom: 0px;
                right: 5px;
                font-size: 6vw;

                p {
                    font-family: 'Poiret One';
                    color: white;
                    // font-weight: bold;
                    text-shadow: 1px 1px 1px grey;
                }
            }
        }
    }
}

.bookings-active {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    // left: 20%;
    z-index: 5;
    background: white;

    box-shadow: 5px 5px 10px grey;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    #name {
        font-size: 8vw;
        position: relative;
        top: 5px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }



    #cell {
        position: relative;
        bottom: 20px;
        font-family: 'Poiret One';
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }

    .line {
        // position: absolute;
        z-index: 5;
        // top: 45%;
        width: 90vw;
        left: 5%;
        right: 5%;
        height: 2px;
        background: grey;
        text-align: center;
        margin: 10px auto;

    }

    .cards {
        width: 100%;
        height: 100%;
        overflow-x: auto;
        display: flex;
        opacity: 1;
        .card {
            min-width: 80%;
            height: 85%;
            margin: 10px 5px;
        //  background-image: linear-gradient(-50deg,rgba(54, 54, 54, 0) 50%,rgb(39, 38, 38) 40%),url('../../assets/danai.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            .skew{
                width:100%;
                height: 110%;
                // object-fit: cover;
                margin: 0 !important;
                padding: 0 !important;
                background: linear-gradient(-50deg,rgba(54, 54, 54, 0) 50%,rgb(39, 38, 38) 40%);
                position: relative;
                top: -9px;
            }
            .style {
                position: absolute;
                top: 0;
                right: 5px;

                p {
                    text-transform: uppercase;
                    // opacity: 0.7;
                    font-size: 6vw;
                    letter-spacing: 5px;
                    color: white;
                    font-family: 'Poiret One';
                    text-shadow: 5px 5px 10px grey;
                }
            }

            .details {
                display: grid;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 5px;
                // position: absolute;
                z-index: 99;

                div {
                z-index: 5;
                    h4 {
                        font-size: 6vw;
                        margin: 0px;
                        color: white;
                        font-family: 'Poiret One';
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 4vw;
                        margin: 0px;
                        color: white;
                        font-family: 'Raleway';
                    }
                }
            }

            .date {
                position: absolute;
                bottom: 5%;
                right: 5px;
                font-size: 6vw;

                p {
                    font-family: 'Poiret One';
                    color: white;
                    // font-weight: bold;
                    text-shadow: 1px 1px 1px #000;
                }
            }
        }
    }

    .edit {
        position: absolute;
        top: 8%;
        left: 90vw;

        ion-icon {
            font-size: 8vw;
        }
    }
}

.bookings {
    // position: absolute;
    z-index: 5;
    left: 20%;
    text-align: center;
    bottom: 20px;

    ion-button {
        background: #BF967E;
        width: 60vw;
        font-family: 'Poiret One';
        letter-spacing: 3px;
        border-radius: 5px;
    }
}

.edit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 8;
    width: 150px;


    ion-fab-button {
        margin: 2px;
    }
}

body {
    position: absolute;
    top: 0;
}

.isbooking{
    text-align: center;
    width: 100vw;
    display:grid;
    align-items: center;
    p{
        font-size: 7vw;
        font-family: 'Poiret one';
    }
}

