.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    // align-items: center;
}

.icons{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    z-index: 3;
    .exit{
       position: absolute;
      left: 370px; 
    }
 
}

.img{
    width: 100%;
    height:100vh;
   
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info{
    display: flex;
    flex-flow: column; 
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 5;
    color: rgb(0, 0, 0);
    
    #name{
        font-size: 30px;
        position: relative;
        top: 120px;
    }
    #about{
        position: relative;
        bottom: 150px;
        text-align: center;
        padding: 10px;
    }

    #cell{
        position: relative;
        top: 100px;
    }
}

.edit{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    
}



