<!-- <ion-header>
  <ion-toolbar>
    <ion-title>success</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container">
    <div class="main">
      <h1>SUCCESS</h1>
      <p>Success</p>
    </div>

    <div class="icon">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </div>

    <div class="msg">
      <p>Your booking has been confirmed <br> to view your booking, go to your <span routerLink="/viewprofile">Profile</span></p>
    </div>
  </div>

  <div class="btn">
    <ion-button (click)="success()" color="transparent">
      DONE
    </ion-button>
    <!-- <button ion-button full routerLink="/home">OK</button> -->
  </div>


</ion-content>