.container {
    display: flex;
    flex-flow: column;
    // justify-content: center;
    align-items: center;
    background: #313131;
    height: 100vh;
}

.main {
    font-size: 60px;
    color: white;
}

.icon {
    font-size: 200px;
    flex-grow: 3;
    color: orangered;
}

.msg {
    font-size: 35px;
    color: white;
    text-align: center;
    flex-grow: 2;
    position: absolute;
    top:50%;
}

.btn {
    .button {
        border-radius: 20px;
        width: 70%;
        position: absolute;
        bottom: 20%;
        left: 15%;
        font-size: 3vh;
    }
}