.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main {
    font-size: 60px;
    color: black;
}

.icon {
    font-size: 200px;
    flex-grow: 3;
}

.msg {
    font-size: 35px;
    color: black;
    text-align: center;
    flex-grow: 2;
}

.btn {
    .button {
        border-radius: 20px;
        width: 70%;
        position: absolute;
        bottom: 10%;
        left: 15%;
    }
}