
  .name {
    border: 1px solid black;
    margin: 10px;
    background: black;
    justify-content: center;
    height: 10vh;

    h2 {
      padding: 8px;
      margin: 5px;
      color: white;
      font-weight: normal;
      font-family: 'Manjari';
    }
  }

  .copy {
    width: 100%;
    position: absolute;
    left: -10px;
    bottom: 0;
    font-size: 12px;

    p {
      text-align: center;
    }
  }

  .list{
    height: 60vh;
    overflow-y: auto;
  }

 