@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

.ion-page{
    z-index: -5 !important;
    display: block !important;
}
.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }

 .secondary{
     .alert-message{
background-color: blue;
font-size: 100px;
}
 }





