@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

ion-toolbar {
  --background: white;
  --opacity: 0;
  position: absolute;
  
}  
.form{
  position: absolute;

  z-index: 5;
  background: white;
  bottom:0;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding-bottom: 0 !important;
}
.login{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .image{
    
      width: 100%;
      height: 100%;
      object-fit: cover;
      img{
           
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
  }
}

.item{
  width: 50vh;
  margin: 10px;
}

.btn{
  align-items: center;
}