<ion-content>

  <div class="container">
    <div class="icon">
      <img src="../../assets/Untitled-1.svg">
      <br>
      <p>Sign-In to your account to continue </p>
    </div>
<br><br>
    <div class="npts">
      <form [formGroup]="signupForm">

        <ion-item color="transparent" style="color: white">

          <ion-input formControlName="email" type="email" placeholder="Your email address"
            [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
          </ion-input>
        </ion-item>

        <ion-label style="color:red; font-size: 15px" class="error-message" *ngIf="!signupForm.controls['email'].valid
                        && signupForm.controls['email'].touched">Please enter a valid email.</ion-label>



        <ion-item color="transparent" style="color: white">

          <ion-input formControlName="password" type="password" placeholder="Your password"
            [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
          </ion-input>
        </ion-item>

        <ion-label style="color:red; font-size: 15px" class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
                                      signupForm.controls['password'].touched">Your password needs more than 6
          characters.</ion-label>
        <br>

        <br>
        <div class="btn">
          <button ion-button round expand="block" color="light" (click)="signupUser(signupForm)"
            [disabled]="!signupForm.valid"
            style="height: 6vh; border-radius: 20px; font-size: 4vw; color: black; font-family: Manjari">
            Continue
          </button>

          <button ion-button round expand="block" clear (click)="signin()"
            style="height: 6vh; border-radius: 20px; background: transparent; color: white; font-size: 4vw; font-family: Manjari">
            Sign In
          </button>

        </div>
      </form>
    </div>
    </div>
  </ion-content>
