
<ion-content fullscreen>
    <ion-header>
        <ion-toolbar>
            <div class="likes" style=" float: right">
                <ion-icon name="heart" (click)="like(x)" id="heart"
                  style="float: left; font-size: 30px; color: rgb(240, 10, 10); margin: 10px"></ion-icon>
                
              </div>
      
              <div class="back" routerLink="/maps">
                <ion-icon name="arrow-back" style="float: right; margin: 10px; color: white; font-size: 25px;"></ion-icon>
              </div>
        </ion-toolbar>
      </ion-header>

  <div class="container">

     
    <div class="salonimage" *ngFor="let x of salond">
      <img src="{{x.salonImage}}">

      <!-- <div class="topbar">
        <div class="likes" style=" float: right">
          <ion-icon name="heart" (click)="like(x)" id="heart"
            style="font-size: 30px; color: rgb(240, 10, 10); margin: 10px"></ion-icon>
          <p style="color: white">{{likes}}</p>
        </div>

        <div class="back" routerLink="/navigation">
          <ion-icon name="arrow-back" style=" margin: 10px; color: white; font-size: 25px;"></ion-icon>
        </div>
      </div> -->

    </div>
    <!-- <div class="img1" *ngFor="let x of salond">
            <img src="{{x.salonImage}}">
    </div> -->

    <div class="details">
 
      <div class="blur"></div>
      <div class="card" *ngFor="let x of salond">

        <div class="subtitle">
          {{x.salonName}}
        </div>
        <div class="title">
          {{x.streetName}}
        </div>
        <div class="rating">
          <!-- <ionic4-star-rating #rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#db981a" 
          defaultColor = "white"
          readonly="true"
          rating= {{aveg}}
          fontSize = "25px"
          halfStar = "true"
          >
        </ionic4-star-rating> -->
       
        </div>
      </div>
    </div>
    <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#db981a"
      defaultColor="#A9A9A9" readonly="true" rating={{aveg}} fontSize="8vw" halfStar="true" style="position: relative;
 top: 5%;
    z-index: 5;">
    </ionic4-star-rating>

    <!-- <div class="analyze">
        <p style="color: white; text-align: center; font-size:  5vw">{{likes}}<br> Likes</p>
      </div> -->

    <div class="reviews" routerLink="/reviews">
      <p>Reviews <ion-icon name="arrow-dropright" style="color: white"></ion-icon>
      </p>
    </div>
    <div class="desc" *ngFor="let x of salond">

      <p>{{x.SalonDesc}}       </p>
    </div>
    <ion-fab-button (click)="toogleHaert()">
        <ion-icon  slot="icon-only" name="heart" [class]="heart"></ion-icon>
    </ion-fab-button>
    <div class=" buttonz">
      <ion-button (click)="selecthairstyle('female')"  id="btn" (click)="viewHair()"
      style="background: rgb(252, 101, 0);">Ladies
      </ion-button>
      <ion-button (click)="selecthairstyle('male')"  id="btn" (click)="viewHair()"
      style="background: rgb(49, 49, 49)">Gents</ion-button>
    </div>
  </div>

  <div [ngClass]="{'hair-inactive': !more, 'hair-active': more}" id="hair">
    <div class="close" (click)="viewHair()">
      <ion-fab-button style="float: right">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <br>
    <br>
    <br>
    <div class="gallery">
      <div class="hair">

        <p style="text-align: center; color: white">Pick the hairstyle that you want and make an appointment</p>

        <ion-slides [options]="sliderConfig">

          <ion-slide *ngFor="let x of hair" (click)="choosehair(x)" style="display: flex; flex-flow: column">
            <ion-card>
              <ion-card-header id="head">
                <img src='{{x.hairStyleImage}}' style="width: 40vh; height: 50vh;">

                <br>
                <ion-card-subtitle>{{x.hairstyleName}}</ion-card-subtitle>
                <ion-card-title style="color: white; font-size: 15px;">
                  <p>
                    {{x.hairstylePrice | currency:'&#82;'}}</p>
                </ion-card-title>
              </ion-card-header>

            </ion-card>
            <!-- <div class="detail" *ngFor="let x of hair">

              <p>{{x.hairstyleName}} <br> {{x.hairstylePrice | currency:'&#82;'}}</p>
            </div> -->

          </ion-slide>
        </ion-slides>
      </div>
    </div>

  </div>



</ion-content>