@import url('https://fonts.googleapis.com/css?family=Lato%7CTeko%7CAbel%7CAnton%7CDosis%7COxygen%7CJura%7CPacifico%7CRighteous%7CRoboto+Condensed%7CUbuntu%7CMansalva');


ion-toolbar {
    --background: white;
    --opacity: 0;
    position: absolute;
}

* {
    transition: 0.7s;
}

.like {
    color: red
}

.unlike {
    color: blue
}

.back {
    position: absolute;
    z-index: 5;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.detail {
    position: absolute;
    bottom: 8%;
    background: rgba(255, 255, 255, 0.774);
    width: 15vh;
    height: 8vh;

    p {
        position: relative;
        bottom: 10px;
    }
}

.salonimage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75vh;
    background: black;

    .topbar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        top: 10%;
        z-index: 5;

        .back {
            font-size: 20vw;
            position: relative;
            left: -10vh;
            bottom: 11vh;
            width: 2vw;
        }

        .likes {
            position: relative;
            left: 45vh;
            bottom: 5vh;
            width: 15vh;
            display: flex;
            flex-flow: row;
            margin: 5px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border: none;
        object-fit: cover;
        opacity: 0.5;
    }
}

.details {
    position: relative;
    top: 15%;
    z-index: 5;
    bottom: 15%;
    width: 45vh;
    color: black;
    height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    background: rgba(255, 255, 255, 0.945);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.658);
}

.analyze {
    position: absolute;
    z-index: 5;
    top: 60%;
    left: 10%;
}

.card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10%;
    //left: 2%;
    z-index: 3;
    font-family: 'Abel';
    display: flex;
    flex-flow: column;
    float: left;

    .subtitle {
        font-size: 7vw;
        color: whitesmoke;
    }

    .title {
        font-size: 5vw;
        color: whitesmoke;
    }
}

.hair-inactive {
    position: absolute;
    left: 5%;
    bottom: 0;
    right: 5%;
    top: 100%;
    z-index: 5;
    overflow: hidden;
}

.hair-active {
    position: absolute;
    left: 0;
    bottom: 0%;
    right: 0;
    top: 10%;
    z-index: 5;
    background: rgb(34, 34, 34);
    overflow: hidden;
    overflow-x: auto;
    padding: 10px;

    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    .gallery {
        height: 100%;
        width: 100%;
    }
}

.buttonz {
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    flex-flow: row;

    .button {
        width: 30vh;

    }
}

.analyze{
    position: absolute;
    justify-content: space-between;
    top: 45%;
    display: flex;
    flex-flow: row;
}

.desc {
    position: absolute;
    top: 30%;
    left: 10px;
    right: 10px;
    text-align: center;
    color: black;
    font-size: 4vw;
    // display: flex;
    // flex-flow: column;
    // width: 45vh;
    // margin: 10px;
}

.reviews {
    position: absolute;
    bottom: 15%;
    right: -2%;
    margin: 15px;
width: 110px;
height: 30px;

    p {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-size: 5vw;
        font-family: 'Abel';
        background: orangered;
        color: white;
        padding: 10px;
        border-radius: 5px;
        align-items: baseline;
    }
}

// .info{
//     position: absolute;
//     top: 50%;
// }






// .info{
//     position: absolute;
//     top: 50%;
// }