
<ion-content>
 
  <ion-button (click)="selecthairstyle('female')">Female hairstyle</ion-button>
  <ion-button (click)="selecthairstyle('male')">Male hairstyle</ion-button>

  <div *ngFor ="let x of hairstyledata">
      <ion-item *ngIf="x.genderOptions == gender" (click) ="choosehair(x)">
        <img src =  '{{x.hairStyleImage}}'>
       

        
        </ion-item>
        <p> {{x.hairstyleDesc}}></p>
      </div>
  <div class="container">
    <div class="image">
      
    </div>
  </div>
  <ion-button (click)="selecthairstyle(1)">Female hairstyle</ion-button>
  <ion-button (click)="selecthairstyle(0)">Male hairstyle</ion-button>
</ion-content>
