<ion-content>
  <div class="container">
    <div class="salonimage" *ngFor="let x of salond">
      <img src="{{x.salonImage}}">

      <div class="back" routerLink="/navigation">
        <ion-icon name="arrow-back" style="color: white; font-size: 20px;"></ion-icon>
        <!-- <ion-buttons slot="start">
          <ion-back-button>Back</ion-back-button>
        </ion-buttons> -->
      </div>
    </div>
    <!-- <div class="img1" *ngFor="let x of salond">
            <img src="{{x.salonImage}}">
    </div> -->
    <div class="details">
      <div class="blur"></div>
      <div class="card" *ngFor="let x of salond">

        <div class="subtitle">
          {{x.salonName}}
        </div>
        <div class="title">
          {{x.location}}
        </div>
        <div class="rating">
          <ion-icon name="star" style="font-size: 30px;"></ion-icon>
          <ion-icon name="star" style="font-size: 30px;"></ion-icon>
          <ion-icon name="star" style="font-size: 30px;"></ion-icon>
          <ion-icon name="star" style="font-size: 30px;"></ion-icon>
          <ion-icon name="star-half" style="font-size: 30px;"></ion-icon>
        </div>
      </div>
    </div>
    <div class="reviews" routerLink="/reviews">
      <p>Reviews <ion-icon name="arrow-dropright" style="color: white"></ion-icon>
      </p>
    </div>
    <div class="desc" *ngFor="let x of salond">

      <p>{{x.SalonDesc}}</p>
    </div>

    <div class=" buttonz">
      <ion-button (click)="selecthairstyle('female')" color="dark" id="btn" (click)="viewHair()">Ladies</ion-button>
      <ion-button (click)="selecthairstyle('male')" color="dark" id="btn" (click)="viewHair()">Gents</ion-button>
    </div>
  </div>

  <div [ngClass]="{'hair-inactive': !more, 'hair-active': more}" id="hair">
    <div class="close" (click)="viewHair()">
      <ion-fab-button style="float: right">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <br>
    <br>
    <br>
    <div class="gallery">
      <div class="hair">

        <ion-slides [options]="sliderConfig">

          <ion-slide *ngFor="let x of hair" (click)="choosehair(x)">
            <ion-card>
              <ion-card-header>
                <img src='{{x.hairStyleImage}}'>
                <br>
                <ion-card-subtitle>{{x.hairstyleName}}</ion-card-subtitle>
                <ion-card-title style="color: white; font-size: 15px;">
                  <p>
                    {{x.hairstylePrice | currency:'&#82;'}}</p>
                </ion-card-title>
              </ion-card-header>

            </ion-card>

          </ion-slide>
        </ion-slides>
      </div>
    </div>

  </div>



</ion-content>