@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.img {
    width: 20vh;
    height: 20vh;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
    background: url('../../assets/_ionicons_svg_ios-person-add.svg');

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.inputs {
    background: #343A3F;
    width: 100%;
    height: 65vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    bottom: 0;

    .item {
        width: 90vw;
    }
}

.title{
 h1{
     font-family: 'Poiret One';
     letter-spacing: 4px;
 }
}
.btn{
    position: absolute;
    bottom: 10px;
    left: 28vw;
    display: flex;
    flex-direction: column;
}

.scroll-content {
    padding-bottom: 0 !important;
 }