<ion-header>
  <ion-toolbar>
    <ion-title>createprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="userimage">
      <div class="img">
        <img src ='{image}'  width ="100px" height ="100px">
      </div>
      <div class="chooseimg" (click)="takePhoto()">
        <ion-icon name ="camera"></ion-icon>
      </div>  
    </div>

    <div class="inputs">
        <ion-input type = "text" [(ngModel)] ="profile.name" placeholder ="Enter your name"></ion-input>
        <ion-input type = "text" [(ngModel)] ="profile.surname" placeholder ="Enter your surnamename"></ion-input>
        <ion-input type = "number" [(ngModel)] ="profile.cell" placeholder ="Enter your cell number"></ion-input>
        <ion-input type = "text" [(ngModel)] ="profile.about" placeholder ="Tell us about yourself"></ion-input>
    </div>

    <div class="btn">
        <ion-button  (click) ="saveprofile(profile)">SUBMIT</ion-button>
    </div>

  </div>

</ion-content>
