<ion-toolbar color="transparent">
  <ion-icon name="close" style="font-size: 200%; color: white;padding: 10px;" (click)="back()"></ion-icon>
</ion-toolbar>

<ion-content fullscreen>

  <div class="container" *ngFor="let x of bookingdetails">

    <div class="top">
      <div class="image" *ngFor="let x of bookingdetails">
        <img src="{{x.hairstyleimage}}" />
      </div>

      <div class="details" *ngFor="let x of bookingdetails">
        <div class="style">
          <h1>{{x.hairstyletype}}</h1>
        </div>
        <div class="active">
          <p>Stylist: {{x.status2}}</p>
          <p>Booking: {{x.status2}}</p>
        </div>
      </div>
    </div>

    <div class="bottom" *ngFor="let x of bookingdetails">
      <div class='buttonz'>
        <ion-fab-button (click)="call()" size="small" color="transparent">
          <ion-icon name="call"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="left">
        <div class="name" *ngFor="let x of bookingdetails">

          <h3> {{x.salonname}}</h3>
          <p>{{x.salonlocation}}</p>
        </div>
        <br>
        <div class="stylist" *ngFor="let x of bookingdetails">
          <p>Stylist</p>
          <h4>{{x.hairdresser}}</h4>
        </div>

        <div class="appdets" *ngFor="let x of bookingdetails">
          <p>Hairstyle Info</p>
          <h4>{{x.estimatedtime}} Minutes <br>
            From {{x.sessiontime}} to {{x.sessionendtime}} on {{x.userdate}}<br>
            Cost: {{x.hairstyleprice | currency:'&#82;'}}
          </h4>

        </div>
      </div>

    </div>
    <div class="btnz" *ngFor="let x of bookingdetails">
      <ion-button (click)="late(x)" color="transparent" style="background:#BF6B7A  ">
        I am late
      </ion-button>

      <ion-button *ngIf="x.userdate == currentdate && x.payment!='Paid' " (click)="forthealert(x)" color="transparent"
        style="background: #BF967E">
        Cancel Booking
      </ion-button>

    </div>


  </div>

  
</ion-content>