

<ion-header>
  <ion-toolbar color="transparent">
    <ion-icon name="arrow-round-back" style="font-size: 30px; color: white" (click)="back()"></ion-icon>
   
     <ion-icon name="call" (click)="call()" style="color: white"></ion-icon>
 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="container" *ngFor="let x of bookingdetails">

    <div class="top">
      <div class="image">
        <img src="{{x.hairstyleimage}}" />
      </div>

      <div class="details">
        <div class="style">
          <h1>{{x.hairstyletype}}</h1>
        </div>
        <div class="active">
          <p>Stylist: {{x.status2}}</p>
          <p>Booking: {{x.status2}}</p>
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="name">
        <h3> {{x.salonname}}</h3>
        <p>{{x.salonlocation}}</p>
      </div>
      <br>
      <div class="stylist">
        <p>Stylist</p>
        <h4>{{x.hairdresser}}</h4>
      </div>

      <div class="appdets">
          <p>Hairstyle Info</p>
          <h4>{{x.estimatedtime}} Minutes <br>
            From {{x.sessiontime}} to {{x.sessionendtime}} on {{x.userdate}}<br>
            Cost: {{x.hairstyleprice | currency:'&#82;'}}
          </h4>
          
        </div>

        <div class="btnz">
          <ion-button (click)="late(x)" color="transparent" style="background:#BF6B7A  ">
            I am late
          </ion-button>

        
            <ion-button  [disabled] ="x.status2!='cancelled' && x.status!='cancelled' && x.userdate >= currentdate"  *ngIf="n.userdate == currentday && n.payment!='Paid' " (click)="forthealert(x)" color="transparent" style="background: #BF967E" >
              Cancel Booking
             </ion-button>
        </div>
    </div>


  </div>

  <!-- <div class="container">
    <div class="flex-container">
      <div *ngFor="let x of bookingdetails">

        <img src="{{x.hairstyleimage}}"/>
        <div class="flex-container2">
          <div>
            <p style="font-size:18px;color:white;font-family: sans-serif">Client Info </p>
            <p style="font-size:15px;color:rgb(206, 206, 206)">
              Name: {{x.name}}<br>
              Surname: {{x.surname}}<br>
              You:{{x.status}}
            </p>

          </div>

          <div>
            <p style="font-size:18px;color:white;font-family: sans-serif">Time Info </p>
            <p style="font-size:15px;color:rgb(206, 206, 206)"> Start Time:{{x.sessiontime}}<br>
              End Time: {{x.sessionendtime}}<br>
              Duration: {{x.estimatedtime}}<br>
              Date: {{x.userdate}}</p>
          </div>

          <div>


            <p style="font-size:18px;color:white;font-family: sans-serif">Salon Info </p>
            <p style="font-size:15px;color:rgb(206, 206, 206);font-family: sans-serif"> Salon: {{x.salonname}}<br>
              Stylist: {{x.hairdresser}}<br>
              Location {{x.salonlocation}}<br>
          </div>


        </div>
        <div >
         
          <p style="font-size:15px;color:rgb(206, 206, 206);font-family: sans-serif">
            Hairstyle: {{x.hairstyletype}}<br>
            Price: R{{x.hairstyleprice}}.00<br>
            Stylist: {{x.status2}}
          </p>
        </div>

      </div>
    </div> -->
</ion-content>