@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat');

.container {
    width: 100%;
    height: 100%;
    background: url('../../assets/iPhone\ X-XS\ –\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.navs {
    position: absolute;
    right: 0;
    top: 50%;

    ion-button {
        text-align: left;
        width: 80vw;
        height: 10vh;
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0.158));
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-family: 'Poiret One';
        letter-spacing: 5px;
        font-weight: bold;
    }
}

.desc {
    position: absolute;
    top: 30%;
    width: 90vw;

    p {
        color: white;
        font-family: 'Raleway';
        font-size: 4vw;
        text-align: center;
    }
}

.title {
    position: absolute;
    top: 20%;

    h1 {
        color: white;
        font-family: 'Poiret One';
        letter-spacing: 5px;
        font-weight: bold;

        span {
            color: #E1CE90;
        }
    }
}

.version {
    position: absolute;
    bottom: 10px;

    p {
        color: white;
        font-family: 'Poiret One';
    }
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background:rgb(22, 13, 0);
    background-repeat: repeat-x;
    transform: scale(1);
    overflow: hidden;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: backgroundmover 30s linear infinite;
  
    .maploader {
      // overflow: hidden;
      width: 70px;
      height: 50px;
      margin: 40vh auto;
      text-align: center;
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      animation: maploader 1.2s linear infinite;
      border-radius: 200px;
      display: grid;
      align-content: center;
      position: relative;
      border: solid 2px gray;
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-facebook div {
        border-radius: 200px;
        display: inline-block;
        position: absolute;
        left: 6px;
        right: 6px;
        width: 13px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }
      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }
        50%, 100% {
          top: 19px;
          height: 26px;
        }
      }
      
  
    }
  }
  
  .loading-text {
    // color: yellow;
    position: absolute;
    bottom: 50vh;
    left: 0px;
    width: 100vw;
    text-align: center;
    // background: red;
    height: 50vh;
    z-index: 50;
  }
  
  .loader-hide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background: rgb(255, 255, 255);
    transform: scale(0);
    overflow: hidden;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    .maploader {
      // overflow: hidden;
      width: 70px;
      height: 50px;
      margin: 40vh auto;
      text-align: center;
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      animation: maploader 1.2s linear infinite;
      border-radius: 200px;
      display: grid;
      align-content: center;
      position: relative;
      border: solid 2px gray;
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-facebook div {
        border-radius: 200px;
        display: inline-block;
        position: absolute;
        left: 6px;
        right: 6px;
        width: 13px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }
      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }
        50%, 100% {
          top: 19px;
          height: 26px;
        }
      }
      
  
    }
  }
  
  @keyframes maploader {
    0% {
      // transform: rotate(0deg);
      border-color: rgb(182, 70, 95);
      // background: rgb(255, 192, 192);
    }
  
    50% {
      // background: rgb(206, 206, 255);
      // transform: rotate(360deg);
      border-color: rgb(42, 50, 75);
    }
  
    100% {
      border-color: rgb(250, 182, 43);
      // background: rgb(255, 167, 167);
      // transform: rotate(360deg);
    }
  }