<!-- <ion-header>
  <ion-toolbar>
    <ion-title>navigation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container" style>

    <div class="text">
      <div class="title1">
        <h1 style="color:rgba(70, 70, 70, 0.74); font-size: 20vh; font-weight: bold;">AirSkedge</h1>
      </div>
      <div class="title2">
        <h1 style="font-size: 15vh; font-weight: bold;">AirSkedge</h1>
      </div>
    </div>


    <div class="navigation">

      <div class="map" routerLink="/maps">
        <div class="iconz">
          <ion-icon name="map" style="font-size: 10vh;"></ion-icon>
        </div>
        <div class="name">
          <p style="font-family: Mansalva">Map</p>
        </div>
      </div>

      <div class="profile" routerLink="/viewprofile">
        <div class="iconz">
          <ion-icon name="person" style="font-size: 10vh;"></ion-icon>
        </div>
        <div class="name">
          <p style="font-family: Mansalva">Profile</p>
        </div>
      </div>

      <div class="booking" routerLink="/booking">
        <div class="iconz">
          <ion-icon name="bookmark" style="font-size: 10vh;"></ion-icon>
        </div>
        <div class="name">
          <p style="font-family: Mansalva">Bookings</p>
        </div>
      </div>

      <div class="info" routerLink="/info">
        <div class="iconz">
          <ion-icon name="information-circle" style="font-size: 10vh;"></ion-icon>
        </div>
        <div class="name">
          <p style="font-family: Mansalva">Info</p>
        </div>
      </div>

    </div>






  </div>

</ion-content>