@import url('https://fonts.googleapis.com/css?family=Lato%7CTeko%7CAbel%7CAnton%7CDosis%7COxygen%7CJura%7CPacifico%7CRighteous%7CSignika%7CUbuntu%7CMansalva');
.container {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 100%;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    left: -30vh;
    top: -5%;
    transform: rotate(-90deg);
  
    .title2 {
        position: relative;
        top: -17vh;
        color: rgb(184, 51, 3);
        
    }
}

.slideno {
    position: absolute;
    top: 40%;

    h1 {
        color: white;
        font-size: 13vw;
    }
}

.desc {
    color: white;
    width: 45vh;
    position: absolute;
    top: 65%;

    p {
        font-size: 4vw;
        text-align: center;
    }
}

.buttz {
    position: absolute;
    top: 85%;

    .button {
        width: 30vh;
        background: white;
        color: black;
        border-radius: 30px;
    }
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50%;
    left: 14%;
    width: 55vh;
    height: 40vh;

    .map {
        width: 20vh;
        height: 20vh;
        ;
        border-right: 2px solid rgb(70, 69, 69);
        border-bottom: 2px solid rgb(70, 69, 69);
        background: rgba(114, 114, 114, 0.247);
    }

    .profile {
        width: 20vh;
        height: 20vh;
        border-left: 2px solid rgb(70, 69, 69);
        border-bottom: 2px solid rgb(70, 69, 69);
        background: rgba(114, 114, 114, 0.247);
    }

    .booking {
        width: 20vh;
        height: 20vh;
        border-right: 2px solid rgb(70, 69, 69);
        border-top: 2px solid rgb(70, 69, 69);
        background: rgba(114, 114, 114, 0.247);
    }

    .info {
        width: 20vh;
        height: 20vh;
        border-left: 2px solid rgb(70, 69, 69);
        border-top: 2px solid rgb(70, 69, 69);
        background: rgba(114, 114, 114, 0.247);
    }
}

.iconz {
    margin: 5px;
    color: white;
}

.name {
    color: white;
}

.desc {
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
}