<!-- <ion-header>
  <ion-toolbar>
    <ion-title>navigation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container" style>

      <div class="text">
          <div class="title1">
            <h1 style="color:rgba(207, 204, 204, 0.205); font-size: 20vh; font-weight: bold">AirSkedge</h1>
          </div>
          <div class="title2">
            <h1 style="font-size: 15vh; font-weight: bold">AirSkedge</h1>
          </div>
        </div>

        <!-- <div class="desc">
            <p>Lorem ipsum dolor sit amet, quis eget
                elementum maecenas metus donec.
                Ligula velit neque mauris metus tellus, id platea.
                Lorem ipsum dolor sit amet, quis eget
              </p>
        </div> -->

        <div class="navigation"  >

            <div class="map" routerLink="/home">
              <div class="iconz">
                <ion-icon name="map" style="font-size: 60px;"></ion-icon>
              </div>
              <div class="name">
                <p>Map</p>
              </div>
            </div>
      
            <div class="profile"  routerLink="/viewprofile">
              <div class="iconz">
                <ion-icon name="person" style="font-size: 60px;"></ion-icon>
              </div>
              <div class="name">
                <p>Profile</p>
              </div>
            </div>
      
            <div class="booking"  routerLink="/booking">
              <div class="iconz">
                <ion-icon name="bookmark" style="font-size: 60px;"></ion-icon>
              </div>
              <div class="name">
                <p>Bookings</p>
              </div>
            </div>
      
            <div class="info" routerLink="/info">
              <div class="iconz">
                <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon>
              </div>
              <div class="name">
                <p>Info</p>
              </div>
            </div>
      
          </div> 
  


    <!-- <div class="logo">
      <img src="../../assets/Untitled-1.svg" (click)="signout()">
    </div>

    <div class="title">
      <h1>AirSkedge</h1>
    </div>

    <div class="navigation"  >

      <div class="map" routerLink="/home">
        <div class="iconz">
          <ion-icon name="map" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Map</p>
        </div>
      </div>

      <div class="profile"  routerLink="/viewprofile">
        <div class="iconz">
          <ion-icon name="person" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Profile</p>
        </div>
      </div>

      <div class="booking"  routerLink="/booking">
        <div class="iconz">
          <ion-icon name="bookmark" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Bookings</p>
        </div>
      </div>

      <div class="info" routerLink="/info">
        <div class="iconz">
          <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Info</p>
        </div>
      </div>

    </div> -->
  </div>

</ion-content>