<!-- <ion-header>
  <ion-toolbar>
    <ion-title>navigation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">

    <div class="logo">
      <img src="../../assets/Untitled-2.svg">
    </div>

    <div class="title">
      <h1>AirSkedge</h1>
    </div>

    <div class="navigation">
      <div class="map" routerLink="/home">
        <div class="iconz">
          <ion-icon name="map" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Map</p>
        </div>
      </div>

      <div class="profile" routerLink="/viewprofile">
        <div class="iconz">
          <ion-icon name="person" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Profile</p>
        </div>
      </div>

      <div class="booking" routerLink="/booking">
        <div class="iconz">
          <ion-icon name="bookmark" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Bookings</p>
        </div>
      </div>

      <div class="info" routerLink="/info">
        <div class="iconz">
          <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon>
        </div>
        <div class="name">
          <p>Info</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>