<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-title>reviews</ion-title> -->
    <ion-icon name="arrow-back" style="color: white; font-size: 20px; float: left" routerLink="/viewsalon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <br>
      <!-- <div class="back" routerLink="/viewsalon">
        <ion-icon name="arrow-back" style="color: black; font-size: 20px;"></ion-icon>
    
      </div> -->
      <h1 style="text-align: center; font-size: 10vw; font-family: Poiret One; letter-spacing: 4px; color: 
      #BF6B7A">Rate Salon</h1>
      <ionic4-star-rating #rating
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#db981a" 
      defaultColor = "#A9A9A9"
      readonly="false"
      rating="3"
      fontSize = "32px"
      (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>
    <!-- <div class="peeps">
      <p>What Are People Saying</p>
    </div> -->
    <div class="reviews">
<!-- 
      <div class="review" *ngFor="let n of reviews">

          <div class="pic">
              <img src="{{n.image}}">
            </div>

        <div class="text">
          <p style="color: white; font-family: Manjari"><ion-icon name="quote" id="q1" style="color: orangered;"></ion-icon>&nbsp;&nbsp;{{n.review}} &nbsp;&nbsp;
            <ion-icon name="quote" id="q2" style="color: orangered;"></ion-icon></p>
          
      <ionic4-star-rating #rating
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#db981a" 
      defaultColor = "#A9A9A9"
      readonly="true"
      rating= {{n.rating}}
      fontSize = "12px"
      >
  </ionic4-star-rating>
        </div>

       
      </div> -->

    </div>

    <!-- <div class="addreview">
      <div class="textbox" style="float: left">

        <ion-textarea rows="1" cols="20" placeholder="Write a review"></ion-textarea>
      </div>
      <div class="btn">

        <ion-fab-button  style ="width: 40px; height: 40px; text-align: center;">
          <ion-icon name="send" style="width: 30px; height: 30px;"></ion-icon>
        </ion-fab-button>
        <ion-button color="dark">
          <ion-icon name="send" styl></ion-icon>
        </ion-button>
      </div>

    </div> -->
  </div>
</ion-content>