<!-- <ion-header>
  <ion-toolbar>
    <ion-title>reviews</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
      <div class="back" routerLink="/viewsalon">
        <ion-icon name="arrow-back" style="color: black; font-size: 20px;"></ion-icon>
    
      </div>
    <div class="peeps">
      <p>What Are People Saying</p>
    </div>
    <div class="reviews">
      <div class="review">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, mollis
            nulla quis numquam enim sit quisque,
          </p>
        </div>

        <div class="pic">
          <img src="../../assets/danai.jpg">
        </div>
      </div>
      <div class="review">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, mollis
            nulla quis numquam enim sit quisque,
          </p>
        </div>

        <div class="pic">
          <img src="../../assets/danai.jpg">
        </div>
      </div>
      <div class="review">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, mollis
            nulla quis numquam enim sit quisque,
          </p>
        </div>

        <div class="pic">
          <img src="../../assets/danai.jpg">
        </div>
      </div>
      <div class="review">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, mollis
            nulla quis numquam enim sit quisque,
          </p>
        </div>

        <div class="pic">
          <img src="../../assets/danai.jpg">
        </div>
      </div>
      <div class="review">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, mollis
            nulla quis numquam enim sit quisque,
          </p>
        </div>

        <div class="pic">
          <img src="../../assets/danai.jpg">
        </div>
      </div>
    </div>

    <div class="addreview">
      <div class="textbox" style="float: left">

        <ion-textarea rows="1" cols="20" placeholder="Write a review"></ion-textarea>
      </div>
      <div class="btn">

        <ion-fab-button  style ="width: 40px; height: 40px; text-align: center;">
          <ion-icon name="send" style="width: 30px; height: 30px;"></ion-icon>
        </ion-fab-button>
        <!-- <ion-button color="dark">
          <ion-icon name="send" styl></ion-icon>
        </ion-button> -->
      </div>

    </div>
  </div>
</ion-content>