<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div #map id="map"></div>
  <div class="container">
    <div class="search">
       
      <ion-searchbar placeholder="Search" style="background: rgba(255, 255, 255, 0.651)"></ion-searchbar>
    
    </div>
  

  <div class="salonlist">
    <div class="card" *ngFor="let x of salond" (click)="selectsalon(x)">
      <div class="image">
        <img src="{{x.salonImage}}">
      </div>
      <div class="details">
        <div class="subtitle">
          {{x.location}}
  
  
</div>

</div>
</div>

</div>
</div>
</ion-content>


<!-- <ion-item *ngFor="let sal of salon">
    <ion-thumbnail>
      <img src="{{sal.coverImage}}">

    </ion-thumbnail>

    <pre>

   {{sal.nameOfSalon}}
   {{sal.location}}
   {{sal.desc}}
  </pre>
  </ion-item>
  <ion-item *ngFor="let x of salond" (click)="selectsalon(x)">

    <ion-thumbnail>
      <img src="{{x.salonImage}}">
    </ion-thumbnail>

    <pre>
{{x.salonName}}
{{x.location}}
{{x.SalonDesc}}
</pre>

  </ion-item> 

 <ion-button (click)="signout()">Sign Out</ion-button>
  <ion-button (click)="selectsalon()">Select Salon</ion-button> -->

<!-- <ion-card *ngFor="let sal of salon">
  <img src="{{sal.coverImage}}">
<ion-card-header>
<ion-card-subtitle> {{sal.location}}</ion-card-subtitle>
<ion-card-title> {{sal.nameOfSalon}}</ion-card-title>
</ion-card-header>
          
<ion-card-content>
{{sal.desc}}
 </ion-card-content>
 </ion-card> -->