
<ion-header>
  <ion-toolbar color="dark">
      <ion-icon name="arrow-round-back" style="font-size: 30px" (click)="back()"></ion-icon>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<!-- <h1 align = "center">Current Bookings</h1> -->
<!-- <ion-item *ngFor = "let x of newdata">

    <pre>
        <h3>Client Info</h3>
      Username: {{x.name}}
      Surname:  {{x.surname}}
      <h3>Booking Info</h3>
      Status:   {{x.status2}}
      Hairstyle: {{x.hairstyletype}}
      Price:     {{x.hairstyleprice}}
      <h3>Time Info</h3>
      Start Time:{{x.sessiontime}}
      End Time:  {{x.sessionendtime}}
      Duration:  {{x.estimatedtime}}
      Date:      {{x.userdate}}
      <h3>Salon Info</h3>
      Salon:     {{x.salonname}}
      Stylist:   {{x.hairdresser}}
      Location   {{x.salonlocation}}

      </pre>
<ion-button (click) ="cancel(x)">Cancel</ion-button>>

</ion-item> -->

<!-- <div class="container" *ngFor = "let x of newdata" >
  <div class="date">
      Date:      {{x.userdate}} 
      Status:    {{x.status2}}
  </div>
  <div class="style">
      Hairstyle: {{x.hairstyletype}} &nbsp;
      Price:     {{x.hairstyleprice | currency:'&#82;'}}
  </div>
  <div class="time">
      Time:{{x.sessiontime}} for {{x.estimatedtime}} minutes<br>
      Date:      {{x.userdate}} 
      Status:   {{x.status2}}
       Duration:  {{x.estimatedtime}} minutes -->
  <!-- </div>

  <div class="stylist">
      Salon:    {{x.salonname}}<br>
      Stylist:  {{x.hairdresser}}<br>
      Location  {{x.salonlocation}}
  </div>
  
</div> --> 


<!-- <h1 align = "center">Booking History</h1>

<div class="container2" *ngFor = "let x of userbooking" >
  <div class="date">
      Date:      {{x.userdate}} 
     
  </div>
  <div class="style">
      Hairstyle: {{x.hairstyletype}} &nbsp;
      Price:     {{x.hairstyleprice | currency:'&#82;'}}
  </div>
  <div class="time">
      Time:{{x.sessiontime}} for {{x.estimatedtime}} minutes<br>
      Date:      {{x.userdate}} 
      Status:    {{x.status2}} -->
      <!-- Duration:  {{x.estimatedtime}} minutes -->
  <!-- </div>

  <div class="stylist">
      Salon:    {{x.salonname}}<br>
      Stylist:  {{x.hairdresser}}<br>
      Location  {{x.salonlocation}}
  </div>
</div> -->


<div class ="backg">



<div class="card front">
    <div class="blue"></div>
    <div class="yellow"></div>
    <div class="pink"></div>
    <div class="dots"></div>
    <div class="personal-intro">
      <p>Current Bookings</p>
      <p> Today's user bookings</p>
    </div>
  </div>
  <div class="card back" *ngFor = "let x of newdata">
    <div class="yellow" (click) ="viewdetails(x)"><p style ="color:white;font-family:sans-serif;font-size: 14px">View Details</p></div>
    <div class="top dots"></div>
    <div class="personal-info">
        <div style ="color:white;font-family:sans-serif;font-size: 14px;">
            Salon:    {{x.salonname}}<br>
            Stylist:  {{x.hairdresser}}<br>
            Location  {{x.salonlocation}}<br>
            Date:     {{x.userdate}}&nbsp; {{x.sessiontime}} <br>
            Stylist:   {{x.status2}}
           
        </div>
    </div>
    <div class="bottom dots"> </div>
    <div class="pink"  align="right"><ion-button color ="danger" *ngIf= "x.status2!='cancelled' && x.status!='cancelled' "   (click) ="cancel(x)"><ion-icon name ="close"></ion-icon></ion-button></div>
  </div>



<div class="card front">
    <div class="blue"></div>
    <div class="yellow"></div>
    <div class="pink"></div>
    <div class="dots"></div>
    <div class="personal-intro">
      <p>All Bookings</p>
      <p>History of user bookings</p>
    </div>
  </div>
  <div class="card back" *ngFor = "let x of userbooking">
    <div class="yellow"  (click) ="viewdetails(x)"><p style ="color:white;font-family:sans-serif;font-size: 14px">View Details</p></div>
    <div class="top dots"></div>
    <div class="personal-info">
        <div style ="color:white;font-family:sans-serif;font-size: 14px">
            Salon:    {{x.salonname}}<br>
            Location  {{x.salonlocation}}<br>
            Date:     {{x.userdate}}&nbsp; {{x.sessiontime}}<br>
            You:{{x.status}}<br>
            Stylist:   {{x.status2}}
        </div>
    </div>
    <div class="bottom dots"></div>
    <div class="pink"></div>
  </div>
</div>
 <!-- <h1>All User Bookings</h1> -->
  
<!-- <ion-item *ngFor ="let x of userbooking">

    
<pre>
  <h3>Client Info</h3>
Username: {{x.name}}
Surname:  {{x.surname}}
<h3>Booking Info</h3>
Hairstyle: {{x.hairstyletype}}
Price:     {{x.hairstyleprice}}
<h3>Time Info</h3>
Start Time:{{x.sessiontime}}
End Time:  {{x.sessionendtime}}
Duration:  {{x.estimatedtime}}
Date:      {{x.userdate}}
<h3>Salon Info</h3>
Salon:     {{x.salonname}}
Stylist:   {{x.hairdresser}}
Location   {{x.salonlocation}}
</pre>

</ion-item>  -->
   


</ion-content>